.player-detail-container {
  color: var(--accent-color);
  margin-top: 2rem;
}
.playerdetails__hero {
  border-radius: 50px 50px 0 0;
  padding: 2rem 3rem;
  margin: 1rem 3rem;
  margin-bottom: 0;
}
.playerdetails__image {
  padding: 1rem;
  background-color: var(--background-color-dark);
  border-radius: 50%;
}
.playerdetails__image > img {
  width: 100%;
}
.playerdetails__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.playerdetails__name,
.playerdetails__role {
  margin: 1rem;
}
.playerdetails__name {
  height: 70%;
}
.playerdetails__name {
  height: 30%;
}
.playerdetails__name > h3 {
  margin: 0;
  margin-bottom: 0.1rem;
  font-weight: 400;
}
.playerdetails__name > h1 {
  font-size: 3rem;
  font-weight: 700;
}
.playerdetails__role > h4 {
  font-weight: 700;
}
.playerdetails__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playerdetails__heading {
  font-weight: 500;
}
.playerdetails__value {
  font-size: 3rem;
  font-weight: 700;
}
.playerdetails__bio {
  border-radius: 0 0 50px 50px;
  padding: 2rem 3rem;
  font-size: 1.1rem;
  margin: 1rem 3rem;
  margin-top: 0;
  font-weight: 400;
  background-color: var(--background-color-dark);
}
.player__info {
  display: flex;
  justify-content: space-evenly;
}
