.card__sellform {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sell__button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  border-width: 2px;
  font-weight: 700;
}
.formgroup__field {
  margin: 1rem;
  border: none;
  outline: none;
}
.addplayer__container {
  display: flex;
}
.from__addplayer {
  flex: 0.4;
}
.addplayer__card {
  flex: 0.6;
}
.form-group > input,
.form-group > input:focus {
  background-color: var(--background-color-dark);
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 1rem;
  color: white;
}
.form-group.light > input,
.form-group.light > input:focus {
  background-color: var(--background-color-light);
  width: 5rem;
}
.form-group .form-label {
  color: var(--accent-color);
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
  outline: none;
}
.btn-primary:hover,
.btn-primary.disabled {
  background-color: var(--primary-color-dark);
  border: none;
  outline: none;
}
.medium-button {
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.big-button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 2rem 1rem 1rem;
  padding: 1rem 2rem;
  border-radius: 50px;
}
.page-heading,
.page-subheading {
  color: var(--accent-color);
  font-size: 3rem;
  font-weight: 700;
  margin: 0rem 3.5rem;
}
.page-subheading {
  font-size: 2rem;
  font-weight: 300;
}
.profile-container {
  padding: 2rem;
  background-color: var(--background-color-dark);
  border-radius: 10px;
  margin: 0 4rem;
  color: var(--accent-color);
}
.search-bar {
  padding: 2rem 2rem;
  border-radius: 100px !important;
}
.header-column {
  margin-top: 15rem;
}
.heading {
  font-size: 5rem;
  font-weight: 600;
  color: var(--accent-color);
}
.heading > span {
  color: var(--primary-color);
  font-weight: 800;
}
.subheading {
  font-size: 2rem;
  color: white;
}
.connect-wallet-container {
  text-align: center;
}
.connect-wallet-container > img {
  border-radius: 50%;
}
