.card-container {
  display: inline-block;
}
.loading {
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 18rem;
  margin: 1rem;
}
.player-card {
  margin: 1.5rem;
  color: white;
  display: inline-block;
  width: 23rem;
  background-color: transparent;
  height: auto;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.player-card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 0;
  height: 100%;
}
.wrapper-dark {
  background-color: var(--background-color-dark);
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: 17rem;
  border-radius: 1.5rem;
}
.card-upper {
  display: flex;
  width: 55%;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3rem;
  /* background-color: white; */
}
.card-price-heading {
  font-size: 17px;
  font-weight: 300;
  line-height: 15px;
}
.card-price-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-value,
.score-value {
  font-size: 34px;
  font-weight: 700;
  margin-right: 2px;
}
.card-lower {
  display: flex;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
  padding: 0;
  height: 7rem;
  border-radius: 1.25rem;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.16);
}
.player-image {
  position: absolute;
  top: -2.5rem;
  left: 175px;
}
.player-image img {
  height: 200px;
}
.tez-logo {
  width: 30px;
  height: 30px;
}
.player-name-section {
  align-items: flex-start;
  text-align: left;
}
.player-firstname,
.player-role {
  font-size: 15px;
  line-height: 5px;
}
.player-lastname {
  font-size: 30px;
  font-weight: 700;
}
.score-heading {
  margin-top: 10px;
  line-height: 10px;
}
.team-logo {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
}
.team-logo img {
  height: 45px;
}
.sm {
  font-size: 10px;
}
.sell-button {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.sell-button:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
}
.skeleton-loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.spinner {
  color: var(--background-color-light);
}
