.sidebar {
  background-color: var(--background-color-dark);
  width: 90px;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 6rem 0 0;
}
.nav-item {
  width: 50px;
  height: 50px;
  background-color: var(--background-color-light);
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.nav-item.active {
  background-color: var(--primary-color);
  border-radius: 15px;
}
.fa-icons {
  color: white;
  vertical-align: middle;
  font-size: 1.5rem;
}
.nav-item:hover {
  background-color: black;
}
.nav-item.active:hover {
  background-color: var(--primary-color);
}
