.login__main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.login__google {
  background-color: var(--primary-color) !important;
  border-radius: 50px !important;
  overflow: hidden;
  padding-right: 0.5rem !important;
}
